/* line 5, sass/login-style.scss */
.login h1 a {
  background-image: url(images/login.png);
  background-size: 274px 63px;
}

/* line 10, sass/login-style.scss */
#wp-submit {
  background-color: #896754;
  background-image: none;
  border-color: #694f41;
  box-shadow: none;
}
/* line 15, sass/login-style.scss */
#wp-submit:hover {
  background: #694f41;
}

/* line 20, sass/login-style.scss */
.login #nav a, .login #backtoblog a {
  color: #edc160 !important;
  text-decoration: none;
}
/* line 23, sass/login-style.scss */
.login #nav a:hover, .login #backtoblog a:hover {
  color: green;
}
