//
// Custom WordPress login style
//

.login h1 a {
	background-image: url(images/login.png);
	background-size: 274px 63px;
}

#wp-submit {
	background-color: #896754;
	background-image: none;
	border-color: darken(#896754, 10%);
	box-shadow: none;
	&:hover {
		background: darken(#896754, 10%);
	}
}

.login #nav a, .login #backtoblog a {
	color: #edc160 !important;
	text-decoration: none;
	&:hover {
		color: green;
	}
}