- get_header();

section.content
  .row
    main.large-8.columns(role='main')

        <?php if ( have_posts() ) :
          while ( have_posts() ) : the_post();
            get_template_part( 'content', get_post_format() );
          endwhile;
          else :
            get_template_part( 'content', 'none' );
        endif; ?>

        aside.large-4.columns(role='complementary')

        - get_sidebar()
<?php get_footer(); ?>


- get_header()
%section.content
  .row
    %main.large-8.columns{:role => "main"}
      -if ( have_posts() ) :
        - while ( have_posts() ) : the_post();
          -get_template_part( 'content', get_post_format() );
      endwhile;
      else :
      get_template_part( 'content', 'none' );
      endif; ?>
    %aside.large-4.columns{:role => "complementary"}
      <?php get_sidebar(); ?>
<?php get_footer(); ?>